body {
background-color: fff;
background-image: url(https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/13697089_10207908559446229_2192465611347227104_n.jpg?oh=6edbf4cde02e0df9f21ca2fc4ee59f95&oe=58F0330D)
}
h1 {
	color: red;
	font-size:400%
}
