h1{
color: green;
font-size:400 px;
text-align: center;
}

body{
background-color: pink;
padding: 50%;
}

p{
color: blue;
text-align: center; 	
}

div {
text-align:right;
width: 320px;
padding: 10px;
border: 5px solid pink;
margin: 0; 
	}
